*, *::after, *::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  padding-top: 40px;

  font-family: "Gilroy", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
}

.content-box-component {
  box-sizing: content-box;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  width: 1px;
  height: 1px;
  margin: -1px;
}

.container-positioner {
  width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.common-button {
  position: relative;

  padding: 8px 20px;

  font-family: "Gilroy", sans-serif;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 3.6px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.common-button::before {
  content: '';
  z-index: -1;

  position: absolute;
  top: 40%;
  left: 0;

  height: 20%;
  width: 100%;

  background-color: #f0c52e;
  transition: top .2s, height .2s;
}

.common-button:hover::before,
.common-button:focus::before {
  top: 0;

  height: 100%;
}

.main-header {
  position: relative;
}

.header-background {
  padding-top: 45px;

  background-color: #f7e296;
}

.top-header-wrapper {
  display: -ms-flex;
  display: flex;
}

.main-logo {
  position: absolute;
  top: -24px;
  left: 77px;;

  font-size: 48px;
  line-height: 48px;
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.92px;
}

.main-logo:hover,
.main-logo:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-logo:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-search {
  margin-top: 1px;
  margin-left: 60px;
}

.search-form {
  position: relative;
}

.search-form::before {
  content: url('../img/search.svg');
  position: absolute;
  top: 3px;
  left: 3px;
}

#main-search {
  width: 318px;
  padding-left: 38px;
  padding-bottom: 12px;
  padding-right: 70px;

  background-color: transparent;
  border: none;
}

#main-search::-webkit-input-placeholder {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

#main-search:-ms-input-placeholder {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

#main-search::-ms-input-placeholder {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

#main-search::placeholder {
  font-family: "Open Sans";
  color: rgba(0, 0, 0, 0.3);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

#main-search:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#main-search:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#main-search:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#main-search:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

#main-search:focus {
  padding-bottom: 10px;

  outline: none;
  border-bottom: 2px solid black;
}

.search-form button {
  position: absolute;
  right: 0px;
  top: -14px;

  padding: 7px 12px;
  display: none;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;

  border: none;
  background-color: transparent;
  border: 2px solid black;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  display: block;

  color: #ffffff;

  background-color: #000000;
}

.search-form button:active {
  display: block;

  color: rgba(255, 255, 255, 0.3);
}


.search-form #main-search:focus + button {
  display: block;
}

.user-navigation {
  margin-top: -2px;
  margin-left: 219px;
}

.user-navigation ul {
  margin: 0;
  padding: 0;
  width: 261px;

  list-style: none;
}

.user-navigation a {
  position: relative;

  display: block;
  padding-left: 30px;

  font-family: "Open Sans";
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
}

.user-navigation svg {
  position: absolute;
  top: 9px;
  left: 3px;
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-navigation a:hover path,
.user-navigation a:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.user-navigation a:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.compare {
  margin-top: -2px;
  margin-left: 19px;
}

.compare a {
  position: relative;

  display: block;
  padding-left: 30px;

  font-family: "Open Sans";
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
}

.compare svg {
  position: absolute;
  top: 11px;
  left: 10px;
}

.compare a:hover,
.compare a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.compare a:active {
  color: rgba(0, 0, 0, 0.3);
}

.compare a:hover rect,
.compare a:focus rect {
  fill: rgba(0, 0, 0, 0.6);
}

.compare a:active rect {
  fill: rgba(0, 0, 0, 0.3);
}

.basket {
  margin-top: -2px;
  margin-left: 35px;
}

.basket a {
  position: relative;

  display: block;
  padding-left: 30px;

  font-family: "Open Sans";
  color: rgba(0, 0, 0, 1);
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  text-decoration: none;
}

.basket svg {
  position: absolute;
  top: 9px;
  left: 7px;
}

.basket a:hover,
.basket a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.basket a:active {
  color: rgba(0, 0, 0, 0.3);
}

.basket a:hover path,
.basket a:focus path {
  fill: rgba(0, 0, 0, 0.6);
}

.basket a:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.main-navigation {
  position: relative;

  margin-top: 32px;
  margin-left: 59px;
}

.main-navigation ul {
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-navigation li {
  position: relative;
}

.main-navigation li:nth-child(1) {
  margin-right: 282px;
}

.main-navigation li:nth-child(2) {
  margin-right: 35px;
}

.main-navigation li:nth-child(3) {
  margin-right: 108px;
}

.main-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.main-navigation .main-catalog > a {
  z-index: 5;

  background: url('../img/plus.png') no-repeat 95% 50%;
  padding-right: 40px;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation .catalog-hover {
  position: absolute;
  top: 24px;
  left: -59px;
  z-index: -1;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  padding-top: 21px;
  padding-left: 60px;
  padding-right: 546px;

  width: 1160px;

  background-color: #f7e296;
  opacity: 0;
  transition: opacity 200ms;
}

.main-navigation .main-catalog:hover .catalog-hover {
  z-index: 10;

  opacity: 1;
}

.main-navigation .catalog-hover a {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0.2px;
}

.main-navigation .catalog-hover li:nth-child(1) {
  margin-right: 57px;
}

.main-navigation .catalog-hover li:nth-child(2) {
  margin-right: 75px;
}

.main-navigation .catalog-hover li:nth-child(3) {
  margin-right: 0;
}

.main-navigation .catalog-hover li:nth-child(4) {
  margin-right: 84px;
}

.main-navigation .catalog-hover li:nth-child(5) {
  margin-right: 140px;
}

.main-navigation .catalog-hover li:nth-child(6) {
  margin-bottom: 33px;
}

.popular-goods {
  position: relative;

  height: 550px;
}

.slider-number-background {
  position: absolute;
  top: -18px;
  left: 20px;
  z-index: -2;

  width: 1160px;;
  height: 162px;

  background-color: #f7e296;
}

.popular-goods .slider-number {
  position: absolute;
  bottom: 24px;
  right: 48px;

  font-size: 179.2px;
  color: #ffffff;
}

.popular-goods .slider-number-background::before {
  content: "";

  position: absolute;
  top: 89px;
  right: 460px;
  z-index: -1;

  width: 100px;
  height: 7px;

  background-color: white;
}

.popular-goods li {
  display: -ms-flex;
  display: flex;
}

.popular-goods b {
  display: block;
  margin-top: 113px;
  margin-left: 126px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.59px;
}

.popular-goods b {
  display: block;
  margin-top: 113px;
  margin-left: 126px;

  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.59px;
}

.popular-goods p {
  width: 480px;
  margin-top: 19px;
  margin-left: 125px;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.14px;
}

.popular-goods table {
  margin-top: 130px;
  margin-left: 124px;
}

.popular-goods .characteristics {
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.popular-goods .characteristics td {
  padding-right: 75px;
}

.popular-goods .characteristics-name td {
  padding-top: 4px;
}

.popular-goods .characteristics-name {
  font-family: "Open Sans";
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
}

.slider-item-1 img {
  margin-top: 34px;
  margin-left: 50px;
}

.slider-details {
  position: absolute;
  top: 347px;
  left: 621px;
  z-index: 5;

  padding: 8px 42px;
}

.slider-buttons {
  position: absolute;
  top: 361px;
  right: 103px;
  z-index: 10;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 78px;
  padding: 0;
  margin: 0;

  list-style: none;
}

.slider-buttons button {
  position: relative;
  display: -ms-flex;
  display: flex;
  width: 12px;
  height: 12px;
  padding: 0;
  margin: 0;

  border: 1px solid black;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.slider-buttons button.active-button::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 2px;

  width: 6px;
  height: 6px;

  border: 1px solid black;
  border-radius: 50%;
}

.popular-goods-slider li {
  position: absolute;
  z-index: -1;

  opacity: 0;
  transition: all .8s;
}

.popular-goods-slider li.current-show {
  z-index: 1;

  opacity: 1;
  transition: all .8s;
}

.slider-item-2 img {
  margin-top: 46px;
  margin-left: 76px;
}

.slider-item-2 b {
  width: 200px;
  margin-left: 138px;
}

.slider-item-2 p {
  width: 460px;
  margin-left: 138px;
}

.slider-item-2 table {
  margin-left: 138px;
}

.slider-item-3 img {
  margin-top: 99px;
  margin-left: -9px;
}

.slider-item-3 b {
  width: 510px;
  margin-left: 43px;
}

.slider-item-3 p {
  width: 460px;
  margin-left: 43px;
}

.slider-item-3 table {
  margin-left: 40px;
}

.goods-types-list {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.goods-types-list a {
  position: relative;

  display: block;
  width: 160px;
  margin-top: 76px;

  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
}

.goods-types-list a::before {
  content: '';

  display: block;
  width: 160px;
  height: 160px;
  margin-bottom: 33px;

  background-color: #f7e296;
}

.goods-types-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.goods-types-list a:hover::before,
.goods-types-list a:focus::before {
  background-color: #f0c52e;
}

.goods-types-list a::after {
  content: '';

  position: absolute;
  top: 52px;
  left: 31px;
}

.goods-types-list li:nth-child(1) a::after {
  content: url('../img/popular-1.svg');
}

.goods-types-list li:nth-child(2) a::after {
  content: url('../img/popular-2.svg');

  top: 41px;
  left: 38px;
}

.goods-types-list li:nth-child(3) a::after {
  content: url('../img/popular-3.svg');

  top: 38px;
  left: 49px;
}

.goods-types-list li:nth-child(4) a::after {
  content: url('../img/popular-4.svg');

  top: 50px;
  left: 28px;
}

.goods-types-list li:nth-child(5) a::after {
  content: url('../img/popular-5.png');

  top: 32px;
  left: 55px;
}

.goods-types-list li:nth-child(6) a::after {
  content: url('../img/popular-6.png');

  top: 49px;
  left: 13px;
}

.goods-types-list a:active::after {
  opacity: 0.3
}

.services-background {
  margin-top: 82px;
  padding-bottom: 138px;
  padding-top: 79px;

  background-color: #e5e5e5;
  background-image: linear-gradient(#ffffff 0%, #ffffff 25.5%, #e5e5e5 25.5%);
}

.services-wrapper {
  display: -ms-flex;
  display: flex;
}

.services-control {
  position: relative;

  width: 285px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-control::after {
  content: "";

  position: absolute;
  top: -80px;
  right: 1px;

  height: 319px;
  width: 7px;

  background-color: #000000;
}

.services-control button {
  position: relative;
  z-index: 2;

  width: 160px;
  margin-top: 25px;
}

.services-control li:first-child button {
  margin-top: 0;
}

.services-control .services-active {
  width: auto;
  padding-right: 134px;

  color: #f7e184;
  background-color: #000000;
  outline: none;
  transition: background-color 1s, color .6s;
}

.services-control li:nth-child(2) .services-active {
  padding-right: 142px;
  padding-left: 22px;
}

.services-control li:nth-child(3) .services-active {
  padding-right: 154px;
  padding-left: 36px;
}

.services-control .services-active::before {
  width: 0;
  height: 0;
}

.services-list {
  margin: 0;
  padding: 0;
  margin-left: 116px;

  list-style: none;
}

.services-list li {
  position: absolute;

  width: 760px;
  margin-top: -54px;

  opacity: 0;
  transition: opacity .6s;
}

.services-list li::after {
  content: url('../img/delivery.svg');

  position: absolute;
  top: 59px;
  right: 67px;
}

.services-list li:nth-child(2)::after {
  content: url('../img/warranty.svg');

  top: 40px;
}

.services-list li:nth-child(3)::after {
  content: url('../img/credit.svg');

  top: 33px;
}

.services-list li.current-show {
  width: 760px;

  opacity: 1;
}

.services-list h3 {
  margin-bottom: 0;

  font-size: 47px;
  line-height: 48px;

  letter-spacing: 1.1px;
}

.services-list p {
  width: 476px;
  padding: 0;
  padding: 0;
  margin-top: 32px;

  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.2px;
}

.popular-brands-list {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  margin-top: 94px;

  list-style: none;
}

.popular-brands-list a {
  opacity: 0.2;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  transition: all .6s;
}

.popular-brands-list a:hover,
.popular-brands-list a:focus {
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.main-bottom-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}

.main-bottom-wrapper section {
  position: relative;
}

.main-bottom-wrapper section::after {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  height: 7px;
  width: 80px;

  background-color: #000000;
}

.main-bottom-wrapper h2 {
  margin: 0;
  padding: 0;
  margin-top: 52px;
  margin-bottom: 43px;

  font-size: 47px;
  line-height: 48px;
}

.main-bottom-wrapper p {
  margin: 0;
  padding: 0;
  margin-top: 30px;

  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  letter-spacing: 0.1px;;
}

.about-us {
  width: 484px;
}

.about-us ul {
  margin: 0;
  padding: 0;
  margin-top: 66px;
  margin-left: 35px;

  list-style: none;
}

.about-us ul li {
  position: relative;

  font-size: 16px;
  line-height: 40px;
}

.about-us ul li::before {
  content: "";

  position: absolute;
  top: 16px;
  left: -34px;

  width: 8px;
  height: 8px;

  border: 2px solid #e6e6e6;
  border-radius: 50%;
}

.about-us .about-us-more {
  display: block;
  width: 260px;
  margin-top: 54px;
  padding: 8px 0;
  padding-left: 23px;
  padding-right: 15px;
}

.contacts {
  width: 560px;
}

.contacts .small-map-btn {
  display: block;
  margin-top: 39px;
}

.contacts .write-to-us-bth {
  display: block;
  width: 260px;
  margin-top: 63px;
  padding-left: 40px;
  padding-right: 30px;
}

.contacts .big-map-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 960px;
  height: 560px;
  margin-left: -480px;
  margin-top: -280px;

  background-color: white;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.contacts .big-map-modal.open {
  z-index: 100;

  opacity: 1;
  transition: opacity .2s;
}

.contacts .google-map {
  position: absolute;
  top: 0;
  left: 0;

  width: 960px;
  height: 560px;
}

.contacts .close-btn,
.write-to-us .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;

  margin: 0;
  padding: 0;

  border: none;
  background-color: transparent;
  cursor: pointer;
}

.contacts .close-btn:hover path,
.contacts .close-btn:focus path,
.write-to-us .close-btn:hover path,
.write-to-us .close-btn:focus path {
  fill: rgba(240, 197, 46, 1)
}

.contacts .close-btn:active path,
.write-to-us .close-btn:active path {
  fill: rgba(240, 197, 46, 0.3)
}

.write-to-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;

  width: 960px;
  height: 554px;
  margin-left: -480px;
  margin-top: -277px;
  padding: 100px;
  padding-top: 96px;

  background-color: white;
  box-shadow: 0 8px 30px 0 rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.write-to-us.open {
  z-index: 100;

  opacity: 1;
  transition: opacity .2s;
}

.write-to-us label {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 10px;
}

.write-to-us-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.write-to-us input {
  display: block;
  width: 360px;
  padding: 16px 20px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: #f2f2f2;
}

.write-to-us textarea {
  display: block;
  width: 100%;
  height: 156px;
  padding: 16px 20px;
  margin-top: 10px;

  font-size: 14px;
  line-height: 18px;
  border: none;
  background-color: #f2f2f2;
}

.write-to-us input::-webkit-input-placeholder,
.write-to-us textarea::-webkit-input-placeholder, {
  color: #464646;
  font-size: 14px;
  line-height: 18px;
}

.write-to-us input:-ms-input-placeholder,
.write-to-us textarea:-ms-input-placeholder, {
  color: #464646;
  font-size: 14px;
  line-height: 18px;
}

.write-to-us input::-ms-input-placeholder,
.write-to-us textarea::-ms-input-placeholder, {
  color: #464646;
  font-size: 14px;
  line-height: 18px;
}

.write-to-us input::placeholder,
.write-to-us textarea::placeholder, {
  color: #464646;
  font-size: 14px;
  line-height: 18px;
}

.write-to-us input:hover,
.write-to-us textarea:hover {
  background-color: #eaeaea;
}

.write-to-us input:focus,
.write-to-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid #f7e296;
  padding: 13px 17px;
  outline: none;
}

.write-to-us .send-btn {
  display: block;
  width: 200px;
  margin-top: 40px;
}

.main-footer {
  font-family: "Open Sans";
  font-size: 15px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 300;

  background-color: #464646;
  margin-top: 82px;
  padding-top: 61px;
  padding-bottom: 58px;
}

.footer-wrapper {
  display: -ms-flex;
  display: flex;
}

.left-footer-wrapper {
  position: relative;
}

.left-footer-wrapper::after {
  content: "";

  position: absolute;
  bottom: 21px;
  left: 0;

  height: 7px;
  width: 80px;

  background-color: #ffc600;
}

.footer-logo {
  position: static;

  margin-left: -4px;

  font-family: "Gilroy";
  color: #ffc600;
  font-weight: 900;
}

.footer-logo:hover,
.footer-logo:focus {
  color: rgba(255, 198, 0, 0.6);
}

.footer-logo:active {
  color: rgba(255, 198, 0, 0.3);
}

.left-footer-wrapper p {
  padding: 0;
  margin: 0;
  margin-top: 20px;
}

.footer-navigation {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
  margin-left: 164px;
}

.footer-navigation ul {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 429px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-navigation a {
  font-family: "Gilroy";
  color: #ffffff;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  text-decoration: none;
  letter-spacing: 3.7px;
}

.page-footer-social-icons {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 141px;
  margin: 0;
  padding: 0;
  margin-left: 307px;
  margin-top: 61px;

  list-style: none;
}

.page-footer-social-icons a:hover path,
.page-footer-social-icons a:hover rect,
.page-footer-social-icons a:focus path,
.page-footer-social-icons a:focus rect {
  fill: rgba(255, 255, 255, 0.6);
}

.page-footer-social-icons a:active path,
.page-footer-social-icons a:active rect {
  fill: rgba(255, 255, 255, 0.1);
}

.right-footer-inner-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 328px;

  margin-top: 2px;
  margin-left: 36px;
}

.right-footer-inner-wrapper a {
  color: rgba(255, 255, 255, 0.7);
}

.right-footer-inner-wrapper a:hover,
.right-footer-inner-wrapper a:focus {
  color: #ffffff;
}

.right-footer-inner-wrapper a:hover rect,
.right-footer-inner-wrapper a:hover path,
.right-footer-inner-wrapper a:focus rect,
.right-footer-inner-wrapper a:focus path {
  fill: rgba(255, 198, 0, 0.6)
}

.right-footer-inner-wrapper a:active {
  color: rgba(255, 255, 255, 0.3);
}

.right-footer-inner-wrapper a:active rect,
.right-footer-inner-wrapper a:active path {
  fill: rgba(255, 198, 0, 0.3)
}

.footer-compare,
.footer-basket {
  margin: 0;
}

.footer-user-navigation {
  margin: 0;
  padding: 0;
}

.footer-user-navigation ul {
  width: auto;
}

.footer-tel {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-left: 200px;
}

.htmlacademy-link {
  display: block;
  margin-left: 337px;
  margin-top: 62px;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  opacity: 0.6;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.catalog .user-navigation ul {
  display: -ms-flex;
  display: flex;
}

.catalog .user-navigation .log-out {
  padding-left: 0;
  margin-left: 22px;

  color: rgba(0, 0, 0, 0.3);
}

.catalog .user-navigation .log-out:hover,
.catalog .user-navigation .log-out:focus {
  color: rgba(0, 0, 0, 1);
}

.catalog .user-navigation .log-out:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-title {
  margin: 0;
  padding: 0;
  margin-top: 37px;
  margin-left: 59px;

  font-size: 47px;
  line-height: 48px;
  font-weight: 900;
  letter-spacing: 0.7px;
}

.catalog .header-background {
  padding-bottom: 50px;
}

.breadcrums {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 382px;
  margin: 0;
  padding: 0;
  margin-top: 24px;
  margin-left: 60px;

  list-style: none;
}

.breadcrums a,
.breadcrums li {
  position: relative;

  font-family: "Open Sans";
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  font-weight: 300;
}

.breadcrums a:hover,
.breadcrums a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrums a:active {
  color: rgba(0, 0, 0, 0.1);
}

.breadcrums li:not(:last-child)::before {
  content: url('../img/nav-arrow.svg');

  position: absolute;
  top: -1px;
  right: -20px;
}

.main-catalog-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.titles-background {
  margin-top: 46px;

  background-image: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 36.8%, #ebebeb 36.8%);
}

.titles-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.filters-title {
  display: block;
  padding-top: 23px;
  padding-left: 61px;
  padding-right: 176px;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.7px;
  background-color: #dcdcdc;
}

.catalog-sort {
  display: -ms-flex;
  display: flex;
  padding-bottom: 7px;

  flex-grow: 1;
  background-color: #ebebeb;
}

.catalog-sort h3 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.7px;

  margin-top: 23px;
  margin-left: 72px;
}

.catalog-sort .sort-type {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 285px;
  margin: 0;
  padding: 0;
  margin-top: 21px;
  margin-left: 51px;

  list-style: none;
}

.sort-type a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-type a:hover,
.sort-type a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.sort-type a:active {
  color: rgba(0, 0, 0, 1);
}

.sort-type .active-sort a {
  color: rgba(0, 0, 0, 1);
}

.sort-indicators {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 40px;
  margin: 0;
  padding: 0;
  margin-top: 22px;
  margin-left: auto;

  list-style: none;
}

.sort-indicators a:hover polygon,
.sort-indicators a:hover polyline,
.sort-indicators a:focus polygon,
.sort-indicators a:focus polyline {
  fill: #a7a5a6;
}

.sort-indicators a:active polyline,
.sort-indicators a:active polygon {
  fill: #000000;
}

.sort-indicators li.active-indicator polygon,
.sort-indicators li.active-indicator polyline {
  fill: #000000;
}

.main-catalog-background {
  background-image: linear-gradient(to right, #efefef 0%, #efefef 36.8%, #ffffff 36.8%);
}

.main-catalog-wrapper {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.filters-form-background {
  flex-basis: 328px;
  background-color: #efefef;
}

.filters-form {
  width: 202px;
  margin-left: 59px;
  margin-top: 60px;
  padding-top: 1px;

  background-color: #efefef;
}

.filters-form hr {
  margin: 0;
  padding: 0;
  margin-top: 8px;
  margin-right: 0;
  margin-bottom: 10px;
  border: none;
  border-top: 2px solid black;
}

.filters-form fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filters-form legend {
  display: block;
  margin: 0;
  padding: 0;

  font-size: 18px;
  line-height: 24px;
}

.price-slider {
  position: relative;

  margin-top: 35px;
  margin-bottom: 59px;
}

.price-slider .scale {
  position: relative;

  height: 2px;

  background-color: #dbdbdb;
}

.price-slider .bar {
  height: 2px;
  width: 119px;

  background-color: #91c92f;
}

.price-slider .toggle {
  position: absolute;
  top: -10px;

  width: 20px;
  height: 20px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.price-slider .toggle-min {
  left: -5px;
}

.price-slider .toggle-max {
  left: 108px;
}

.price-slider .price-indicator {
  position: absolute;
  bottom: -33px;

  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  font-weight: 300;

  border: none;
  background-color: transparent;
}

.price-slider .price-indicator-min {
  left: 0;
}

.price-slider .price-indicator-max {
  left: 91px;
}

.color-form legend,
.bluetooth-form legend {
  margin-bottom: 18px;
}

.color-form p,
.bluetooth-form p {
  margin: 0;
  padding: 0;
}

.color-form p:last-child,
.bluetooth-form p:last-child {
  margin-bottom: 23px;
}

.color-form label,
.bluetooth-form label {
  position: relative;

  padding-left: 39px;

  font-family: "Open Sans";
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.color-form label:hover,
.bluetooth-form label:hover {
  opacity: 0.6;
}

.color-form label::before {
  content: url('../img/checkbox-off.svg');

  position: absolute;
  top: -5px;
  left: -1px;
}

.color-form input:checked + label::before {
  content: url('../img/checkbox-on.svg');
}

.bluetooth-form label::before {
  content: url('../img/radio-off.svg');

  position: absolute;
  top: -5px;
  left: -1px;
}

.bluetooth-form input:checked + label::before {
  content: url('../img/radio-on.svg');
}

.color-form input,
.bluetooth-form input {
  display: none;
}

.filter-form .submit-btn {
  position: relative;
  z-index: 5;

  width: 100%;
  margin-top: 8px;
  margin-left: -1px;
}

.monopods-catalog-background {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
  background-color: white;
  flex-grow: 1;
}

.monopods-catalog {
  width: 760px;
  margin-top: 69px;
}

.monopods-catalog .main-catalog-list {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item-wrap {
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 25px;
}

.main-catalog-list li {
  position: relative;
}

.main-catalog-list li:nth-child(n + 3) {
  margin-top: 45px;
}

.main-catalog-list h3 {
  width: 275px;
  margin: 0;
  padding: 0;
  margin-left: 0;
}

.main-catalog-list a {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: 0.3px;
}

.main-catalog-list .price {
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.main-catalog-list .item-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 360px;
  height: 380px;

  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: opacity .4s;
}

.main-catalog-list li:hover .item-hover {
  z-index: 1;

  opacity: 1;
}

.item-hover .item-buy {
  position: relative;
  z-index: 5;

  width: 200px;
  margin-top: 175px;
  margin-left: 80px;
}

.item-hover .item-compare {
  display: block;
  margin-top: 8px;
  margin-left: 110px;

  font-size: 13px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  border: none;
}

.item-hover .item-compare:hover,
.item-hover .item-compare:focus {
  color: rgba(0, 0, 0, 1);
  outline: none;
}

.item-hover .item-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.paginator-list {
  display: -ms-flex;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 34px;
  margin-bottom: 77px;

  list-style: none;
  background-color: #ebebeb;
}

.paginator-list a {
  display: block;
  padding: 0 29px;
  padding-top: 24px;
  padding-bottom: 22px;

  font-size: 16px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.paginator-list li:nth-child(2) a,
.paginator-list li:nth-child(3) a,
.paginator-list li:nth-child(4) a {
  padding: 0 14px;
  padding-top: 24px;
  padding-bottom: 22px;

  color: rgba(0, 0, 0, 0.3);
}

.paginator-list li.paginator-list-active a {
  color: rgba(0, 0, 0, 1);
}

.paginator-list li:nth-child(2) a {
  margin-left: 192px;
}

.paginator-list li:nth-child(4) a {
  margin-right: 183px;
}

.paginator-list li:first-child a:hover,
.paginator-list li:last-child a:hover,
.paginator-list li:first-child a:focus,
.paginator-list li:last-child a:focus {
  background-color: #d9d9d9;
}

.paginator-list li:first-child a:active,
.paginator-list li:last-child a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog .left-footer-wrapper,
.catalog .center-footer-wrapper {
  flex-shrink: 0;
}

.catalog .main-footer {
  margin-top: 0;
}

.catalog .right-footer-inner-wrapper {
  width: 478px;
  margin-left: -114px;
}

.catalog .user-navigation a {
  padding-left: 25px;
}

.user-navigation .footer-log-out a {
  color: rgba(255, 255, 255, 0.3);
}

.user-navigation .footer-log-out a:hover,
.user-navigation .footer-log-out a:focus {
  color: rgba(255, 255, 255, 0.6);
}
